[submodule "modules/json"]
	path = modules/json
	url = https://github.com/ramerdigital/nlohmann-json.git
[submodule "modules/chowdsp_utils"]
	path = modules/chowdsp_utils
	url = https://github.com/ramerdigital/chowdsp_utils.git
[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/ramerdigital/JUCE.git
[submodule "modules/RTNeural"]
	path = modules/RTNeural
	url = https://github.com/ramerdigital/RTNeural.git
[submodule "modules/r8brain-free-src"]
	path = modules/r8brain-free-src
	url = https://github.com/ramerdigital/r8brain-free-src.git
	branch = development
