[submodule "third-party/Ramer-chowdsp_utils"]
	path = third-party/Ramer-chowdsp_utils
	url = https://github.com/RamerDigital/Ramer-chowdsp_utils.git
[submodule "third-party/Ramer-JUCE"]
	path = third-party/Ramer-JUCE
	url = https://github.com/RamerDigital/Ramer-JUCE.git
[submodule "third-party/Ramer-RTNeural"]
	path = third-party/Ramer-RTNeural
	url = https://github.com/RamerDigital/Ramer-RTNeural.git
[submodule "third-party/Ramer-r8brain-free-src"]
	path = third-party/Ramer-r8brain-free-src
	url = https://github.com/RamerDigital/Ramer-r8brain-free-src.git
